.yo {
    img {
        max-width: 15rem;
        max-height: 15rem;
        margin: 0.25rem;
        border: 2px solid black;
        // display: block; // multiple images also come in separate lines
    }

    a {
        color: blue
    }

    table,
    th,
    thead {
        border: 1px solid;
    }

    table {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    thead tr th {
        padding-left: 0.25rem;
    }

    td {
        padding-left: 0.3rem;
    }

    tbody tr:nth-child(even) {
        background-color: rgba(253, 230, 180, 0.4);
    }

    tbody tr:nth-child(odd) {
        background-color: rgba(253, 230, 180, 0.9);
    }

    tbody tr:hover {
        background-color: rgba(216, 191, 216, 0.7);
    }
}