.yo {
    img {
        max-width: 15rem;
        max-height: 15rem;
        margin: 0.25rem;
        border: 2px solid black;
    }

    a {
        color: blue
    }

    table,
    th,
    thead {
        border: 1px solid;
    }
}