$height: 40px;

.inner {
    height: $height;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: clip;
}

.light-fade {
    background-color: lightcyan;
    border-top: 3px solid red;
    border-bottom: 3px solid rgb(0, 255, 187);
    border-left: 3px solid rgb(104, 143, 250);
    border-right: 3px solid rgb(114, 106, 106);
    box-shadow: 0px 0px 5px 3px lightcyan;
}

.dark-fade {
    background-color: rgb(76, 58, 58);
    border-top: 3px solid red;
    border-bottom: 3px solid orange;
    border-left: 3px solid aqua;
    border-right: 3px solid greenyellow;
    box-shadow: 0px 0px 5px 3px black;
}

// can make it better by adding space between color borders so they are highlighted
.outer {
    height: $height + 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    @extend .dark-fade;

    display: flex;
    justify-content: center;
    align-items: center;
}