.floatingToc {
    background-color: blue;
}

.yo {
    p:has(+ ul) {
        margin-bottom: 0;
    }

    img {
        max-width: 40rem;
        max-height: 20rem;
        margin: 0.25rem;
        border: 2px solid black;
        // display: block; // multiple images also come in separate lines
    }
}