.navbar {
    // 100% height will fix the problem page issue, but auto is better
    height: auto;
    width: 100%;
    overflow: clip;
    background-color: lightgreen;
    box-shadow: 0px 0px 5px 3px green;
}