/*Learn more about modules and how to use them*/

.nav {
    background-color: violet;
    height: 2rem;
}

.gridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem 3rem;
}

$containerHeight: 17rem;
$chessboardHeight: 10rem;

.gridItem {
    height: $containerHeight;
    width: 10rem;
    //overflow: hidden; // apparently cannot switch betn x and y to have one hidden and other not: https://stackoverflow.com/a/6433475 
    //background-color: aqua;
}

.expanding {
    height: $chessboardHeight;
    width: auto; // TODO: can set this same to height to avoid changing dimensions when image is loading
    overflow: hidden;
    //position: absolute;
    border-radius: 1rem;
    cursor: pointer;
}

.expanding:hover {
    opacity: 0.9;
    height: $chessboardHeight + 2rem;
    width: auto;
    border-radius: 1rem;
    border-top: 1rem;
    border-color: red;
    //position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1rem; // wow, autmatically aligns to center
}